<link rel="stylesheet" href="login.css">

  

<div class="login-container">
  <table class="box">
    <tr>
    <td style="width: 50%;"><img [src]="imageUrl" alt="imagenHeroe" /></td>
      <td style="width: 50%;">
        <div class="fomrulary"*ngIf="state=='loginState'">
    
    <h2>{{title}}</h2>
    <!-- Usa el evento ngSubmit correctamente -->
    <form (ngSubmit)="getInputsLogin($event)" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Usuario</label>
        <input 
          type="text" 
          placeholder="email" 
          id="email" 
          name="email"
          [(ngModel)]="email" 
          required
        >
        <label for="password">Contraseña</label>
        <input 
          type="password" 
          placeholder="password" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required
        >
      </div>
      <button type="submit">Entrar</button>
    </form><br>
      <button (click)="register(state)">Registar</button>
      <div class="link">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
  </div>


  <div class="fomrulary"*ngIf="state=='registerState'">
    <h2>{{title}}</h2>
    <!-- Usa el evento ngSubmit correctamente -->
    <form (ngSubmit)="getInputsLogin($event)" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Usuario</label>
        <input 
          type="text" 
          placeholder="email" 
          id="email" 
          name="email"
          [(ngModel)]="email" 
          required
        >
        <label for="password">Contraseña</label>
        <input 
          type="password" 
          placeholder="password" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required
        >
        <label for="password">Repite contraseña</label>
        <input 
          type="password" 
          placeholder="password" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required
        >
      </div>
      <button (click)="returnToLogin()">Volver al login</button>
    </form><br>
      <button (click)="register(state)">Registar</button>
      <div class="link">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
  </div>
</td></tr></table>
</div>
