<div class="dashboard">
  <!-- Sección izquierda -->
  <div *ngIf="imageUrl"class="left-section">
    <div class="top-left-overlay" *ngIf="heroName != 'sin nombre'"[ngStyle]="{ 'background-color': heroType !== 'sin tipo' ? heroBackground : '#f9f9f9' }">
      <h3>{{ heroName }}</h3>
      <img *ngIf="imageUrl" [src]="this.heroImageUrls[heroType]" alt="Mago"  class="hero-image" />
    </div>
    <div class="big-left-div">
      <img *ngIf="imageUrl" [src]="this.heroImageUrls[heroType]" alt="Mago" style="width: 500px;"/><!--position: absolute;z-index: 10;-->
      <!--<img *ngIf="imageUrl" [src]="this.heroImageUrls['FONDO']" alt="Mago" style="width: 500px;"/>-->
    </div>
    <div class="right-columns">
      <div class="first-right-column">
        <div class="full-column-div">
          <p>Dbrutal: {{ heroDbrutal }}</p>
          <p>Dletal: {{ heroDletal }}</p>
          <p>Dmistic: {{ heroDmistic }}</p>
          <p>Armor: {{ heroArmor }}</p>
          <p>Resistance: {{ heroResistance }}</p>
          <p>Accuracy: {{ heroAccuracy }}</p>
          <p>Evasion: {{ heroEvasion }}</p>
          <p>Critic: {{ heroCritic }}</p>
          <p>MaxHealth: {{ heroMaxHealth }}</p>
          <p>MaxExp: {{ heroMaxExp }}</p>
        </div>
      </div>
      <div class="second-right-column">
        <div class="half-first-column-div">
          <h3>Level: {{ heroLevel }}</h3>
          <p>Vida: {{ heroActualLife }}</p>
          <p>Exp: {{ heroActualExp }}</p>
        </div>
        <div class="half-second-column-div">
          <p>skill1: {{ heroSkill1 }}</p>
          <p>skill2: {{ heroSkill2 }}</p>
          <p>skill3: {{ heroSkill3 }}</p>
          <p>skill4: {{ heroSkill4 }}</p>
          <p>skill5: {{ heroSkill5 }}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!imageUrl"class="left-section">
    <img [src]="this.heroImageUrls['FONDO']" alt="Mago" style="width: 100%; height: 545px;border-radius: 5px;"/>
  </div>

  <!-- Sección derecha -->
  <div class="right-section">
    <div *ngFor="let hero of heroes" class="button-wrapper">
      <button (click)="onHeroClick(hero)" class="hero-button">
        <div class="button-content">
          <img [src]="heroImageUrls[hero.type]" alt="{{ hero.name }}" class="hero-image-button" />
          <label class="hero-label">{{ hero.name }}</label>
        </div>
      </button>
    </div>
    <div class="button-wrapper">
    <button class="hero-button" style="justify-content: center;border: 2px solid #5a3e2b;">
      <div class="button-content">
        <img [src]="heroImageUrls['ADD']" class="hero-image-button" />
      </div>
    </button>
    </div>
  </div>
</div>