
  .dashboard-container {
    padding: 1rem;
    border-radius: 8px;
    place-items: center;
  }
  .center-container {
    position: relative;
    padding: 8px;
    min-height: 70vh; /* Ocupa el 100% de la altura de la pantalla */
    background-color: #c4e0ff;
    border-radius: 4px;
    
    overflow: auto; /* Añade scroll si el contenido es demasiado grande */
    margin: 0; /* Elimina márgenes por defecto */
    flex-direction: column;

  span{
    font-family: 'Arial', sans-serif; /* Cambia el tipo de fuente */
    font-size: 16px; /* Tamaño de la letra */
    font-weight: bold; /* Grosor de la letra (normal, bold, lighter) */
    color: #022347; /* Color del texto */
    align-self: flex-start;
  }
  }

  /* Contenedor principal para los botones de los héroes */
.heroes-container {
  flex-direction: column; /* Apila los botones verticalmente */
  justify-content: flex-start; /* Alinea los botones desde la parte superior */
  padding: 20px;
  gap: 10px; /* Espacio entre botones */
  background-color: #c4e0ff;
  border-radius: 4px;

}

/* Estilo de los botones individuales */
.heroes-container button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heroes-container button:hover {
  background-color: #63acfa;
}

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;

  }

  .form-group {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #003975;
  }

  input[type="text"],
  input[type="password"] {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid #0056b3;
    border-radius: 4px;
    font-size: 1.3rem;
    
  }
  button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
  }
  button:hover {
    background-color: #007bff;
    color: white;
  }
  .image-container {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e24a84;
    width: 300px;
    align-self: flex-start;
  }
  
  .image-container img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    align-self: flex-start;
  }
  .hero-title {
    position: fixed;
    margin: 5px;
    text-align: center;
    padding: 1rem;
    border: 2px solid #ffffff20;
    border-radius: 8px;
    background-color: #6a99ce;
    align-self: flex-start;
  }
  .hero-details {
    min-height: 70vh;
    text-align: center;
    padding: 1rem;
    border: 2px solid #ffffff20;
    border-radius: 8px;
    background-color: #0c0e0f48;
  }
  .hero-details div{
    margin: 1cm;
    display: inline-block;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    max-width: 20vh;
    align-self:center;
    text-align: center;
    padding: 1rem;
    border: 2px solid #ffffff20;
    border-radius: 8px;
    background-color: #c4e0ff;
  }
  .hero-ausencia {
    align-content:flex-end;
    position: relative;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e6f1ff;
  }
  
  .no-hero-selected {
    font-size: 1.2rem;
    color: #555;
    font-style: italic;
    margin: 20px 0;
  }
  
  .hero-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .hero-image:hover {
    background-color: #d8d8d81f;
    color: white;
}

 




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
  }
  
  .dashboard {
    display: flex;
    height: fit-content;
    width: 180vh;
  }
  
  /* Sección izquierda */
  .left-section {
    position: relative;
    width: 80%;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    background-color: #f7d9c4;
    border-radius: 8px;
    border: 3px solid #0000008c;
    margin-right: 1cm;
  }
  
  /* Div superpuesto en la esquina superior izquierda */
  .top-left-overlay {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: rgba(200, 50, 50, 0.8);
    z-index: 10;
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color: #6a99ce;
    align-self: flex-start;
    border: 3px solid #0000008c;
    border-radius: 8px;
  }
  
  /* Div grande en el lateral izquierdo */
  .big-left-div {
    flex: 1;
    background-color: #5050505b;
    width: fit-content;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 8px;
  }
  
  /* Contenedor de las columnas de la derecha */
  .right-columns {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre columnas */
    width: 100%;
    margin: 20px;
    margin-left: 0;
  }
  
  /* Primera columna derecha */
  .first-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .full-column-div {
    flex: 1;
    background-color: #966e647c;
    border: 3px solid #0000008c;
    border-radius: 8px;
    padding: 15px;
  }
  
  /* Segunda columna derecha */
  .second-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Divs de mitad de altura en la segunda columna derecha */
  .half-first-column-div {
    flex: 1;
    background-color: #966e647c;
    border: 3px solid #0000008c;
    border-radius: 8px;
    padding: 15px;
  }
  .half-second-column-div {
    flex: 3;
    background-color: #966e647c;
    border: 3px solid #0000008c;
    border-radius: 8px;
    padding: 15px;
  }
  
  /* Sección derecha */
.right-section {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-auto-rows: 1fr; /* Filas automáticas con igual tamaño */
  justify-items: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  height: 100%; /* Ocupa todo el espacio vertical */
  background-color: #966e64d2;
  column-gap: 10px;
  border: 3px solid #0000008c;
  border-radius: 8px;  
}

.button-wrapper {
  width: 100%; /* Ajusta el ancho del botón al contenedor */
  border-radius: 8px;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 5cm; /* Altura máxima del botón */
  width: 5cm;
  background-color: #f7d9c4;
  border: 2px solid #ffeada;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #eecbad;
}

.button-content {
  display: flex;
  align-items: center;
}

.hero-image-button {
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}
.hero-label {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  color: #5a3e2b;
}