
<div class="dashboard">
  <button  class="normal-button btn-home"(click)="onMainClipClick('clipHo')"style="position: absolute">
    <div class="image-container" style="position: relative; display: inline-block;">
      <img class="background-image" style="max-width: 250px; display: block;"[src]="this.imageUrls['BOTON_madera_8']"alt="start"/>
      <div class="overlay-text"style="position: absolute;left: 80px;font-weight: bold;">HOME</div>
    </div>
  </button>
  <button  class="normal-button btn-storage"(click)="onMainClipClick('clipSto')"style="position: absolute;">
    <div class="image-container" style="position: relative; display: inline-block;">
      <img class="background-image" style="max-width: 250px; display: block;"[src]="this.imageUrls['BOTON_madera_8']"alt="start"/>
      <div class="overlay-text"style="position: absolute;left:80px;font-weight: bold;">STORAGE</div>
    </div>
  </button>
  <div *ngIf="!state"class="left-section">
    <img [src]="this.imageUrls['FONDO']" alt="imageFondo" style="width: 100%;border-radius: 5px;"/>
  </div>
  <!--heroDetails-->
  <div *ngIf="state == 'heroDetails'"class="left-section">
    <div class="top-left-overlay" [ngStyle]="{ 'background-color': hero.type !== 'sin tipo' ? heroBackground : '#f9f9f9' }">
      <img *ngIf="state == 'heroDetails'" [src]="hero.icon" alt="imageHero"  class="hero-image" />
    </div>
    <div class="main-content-row">
      
      <div *ngIf="state == 'heroDetails'" class="big-left-div">
        <div style="width: 300px;transform: translate(60%,30%);border-radius: 12px; padding: 10px; display: flex;align-items: center; justify-content: center;" [ngStyle]="{'border': '10px ridge ' + (hero.type !== 'sin tipo' ? heroBackground : '#f9f9f9'),'background-color': hero.type !== 'sin tipo' ? heroBackground : '#f9f9f9'}">
          <div [ngClass]="{ 'spark-container': true, 'shine-effect': showShine }" style="width: 100%;background-color: #7066615d;border-radius: 7px;">
            <input
              type="text"
              [placeholder]="hero.name"
              name="heroName"
              [(ngModel)]="heroNewname"
              style="width: 100%; height: 30px; padding: 0 10px; border-radius: 4px; border: 3px solid #cccccc88; background-color: #7066615d; text-align: center; font-weight: bold;"
            />
          </div>
          <button class="glow-button" *ngIf="heroNewname != hero.name" style=" margin-left: 15px;  height: 30px; width: 30px; padding: 0; border: none; background: none; cursor: pointer;"(click)="triggerShineEffect(); changeHeroName()">
            <img [src]="this.imageUrls['EDIT']" alt="Cancelar" style="height: 100%;background-color: #ffffff7a; border-radius: 4px;border: 1px solid #ccc;" />
          </button>
        </div>   
        <img *ngIf="state == 'heroDetails'" [src]="hero.icon" alt="imageHero" style="width: 500px;padding-top: 30px;" />
        <div  style="position: absolute;top:20px; width: 500px;height: 600px;background-color: #ffffff44;">
          <div style="position: absolute;width: 100px;height: 100px; ;background-color: #ffffff44;transform: translate(200px,130px)">
          </div>
          <div style="position: absolute;width: 100px;height: 100px; ;background-color: #ffffff44;transform: translate(370px,130px)">
          </div>
          <div style="position: absolute;width: 100px;height: 100px; ;background-color: #ffffff44;transform: translate(30px,300px)">
          </div>
          <div style="position: absolute;width: 100px;height: 100px; ;background-color: #ffffff44;transform: translate(200px,300px)">
          </div>
          <div style="position: absolute;width: 100px;height: 100px; ;background-color: #ffffff44;transform: translate(370px,300px)">
          </div>
          <div style="position: absolute;width: 100px;height: 100px; ;background-color: #ffffff44;transform: translate(200px,470px)">
          </div>
        </div>
      </div>

    <div *ngIf="state == 'heroDetails'" class="right-columns">
      <div class="top-columns">
        <div class="first-right-column" >
          <div class="full-column-div">
            <p>Dbrutal: {{ hero.Dbrutal }}</p>
            <p>Dletal: {{ hero.Dletal }}</p>
            <p>Dmistic: {{ hero.Dmistic }}</p>
            <p>Armor: {{ hero.armor }}</p>
            <p>Resistance: {{ hero.resistance }}</p>
            <p>Accuracy: {{ hero.accuracy }}</p>
            <p>Evasion: {{ hero.evasion }}</p>
            <p>Critic: {{ hero.critic }}</p>
            <p>MaxHealth: {{ hero.maxHealth }}</p>
            <p>MaxExp: {{ hero.maxExp }}</p>
          </div>
        </div>
        <div class="second-right-column">
          <div class="half-first-column-div">
            <h3>Level: {{ hero.level }}</h3>
            <p>Vida: {{ hero.actualLife }}</p>
            <p>Exp: {{ hero.actualExp }}</p>
          </div>
          <div class="half-second-column-div">
            <p>skill1: {{ hero.skill1 }}</p>
            <p>skill2: {{ hero.skill2 }}</p>
            <p>skill3: {{ hero.skill3 }}</p>
            <p>skill4: {{ hero.skill4 }}</p>
            <p>skill5: {{ hero.skill5 }}</p>
          </div>
        </div>
      </div>
      <!-- BOTONERA -->
      <div class="botonera1">
        <button class="normal-button" (click)="changeHero('prev')"style="height: 80px"> 
          <div class="image-container">
            <img style="max-height: 50px;" [src]="this.imageUrls['BOTON_madera_4']" alt="left"/>
          </div>
        </button>
        <button class="normal-button" (click)="onBattleClick(hero)"style="height: 80px"> 
          <div class="image-container">
            <img class="background-image" style="max-width: 250px;" [src]="this.imageUrls['BOTON_madera_8']" alt="start"/>
            <div class="overlay-text">START BATTLE</div>
          </div>
        </button>
        <button class="normal-button" (click)="changeHero('next')"style="height: 80px"> 
          <div class="image-container">
            <img style="max-height: 50px;" [src]="this.imageUrls['BOTON_madera_5']" alt="right"/>
          </div>
        </button>
    </div>
    </div>
  </div>
      
  </div>
    
  
<!--heroShop-->
<div *ngIf="state == 'heroShop'" class="left-section">
  <!-- Fila con el contenido principal: izquierda y derecha -->
  <div class="main-content-row">
    <div class="big-left-div-shop">
      <div class="hero-grid">
        <button
          *ngFor="let heroType of heroTypes"
          (click)="onHeroShopClick(heroType)"
          (mouseenter)="onHeroShopHover(heroType)"
          class="hero-button-shop"
          [disabled]="mostrarHeroGif"
        >
          <img [src]="heroStyles[heroType].icon" alt="{{heroType}}" class="hero-image-shop" />
        </button>
      </div>
    </div>

    <div class="right-columns">
      <div class="second-right-column">
        <div class="half-first-column-div">
          <h3>{{ heroType }}</h3>
          <p>{{ heroDescription }}</p>
        </div>
        <div class="half-second-column-div">
          <p>price: <label class="hero-label" style="background-color: #966e64; padding: 5px; padding-left: 10px; border-radius: 6px;">{{heroStyles[heroType].price}}<img [src]="imageUrls['GOLD']" class="hero-image-button" style="width: 30px;margin-left: 10px;vertical-align: bottom;"/></label></p>
        </div>
        <div class="half-second-column-div">
          <p>skill1: STANDARD ATACK </p>
          <p>skill2: STANDARD ATACK</p>
          <p>skill3: STANDARD ATACK</p>
          <p>skill4: STANDARD ATACK</p>
          <p>skill5: STANDARD ATACK</p>
        </div>
      </div>
    </div>
  </div>

    
  <div *ngIf="mostrarHeroGif" [ngClass]="{ 'gif-overlay': true, 'fade-out': desapareciendo }">
    <div class="gif-center">
      <img *ngIf="gifHeroUrl" [src]="gifHeroUrl" alt="heroGif" />
    </div>
  </div>
</div>


<!-- MapSection -->
<div *ngIf="state == 'map'" class="left-section">
  <div class="main-content-row">
    <!-- Imagen izquierda -->
    <div class="background-image-obj"> 
      <div style="position: relative; width: 500px; height: auto;">

        <!-- Botón debajo -->
        <button *ngIf="enemyType" class="normal-button btn-stats"(click)="onClipClick('clipSta')"style="position: absolute;">
          <div class="image-container" style="position: relative; display: inline-block;">
            <img class="background-image" style="max-width: 250px; display: block;"[src]="this.imageUrls['BOTON_madera_8']"alt="start"/>
            <div class="overlay-text"style="position: absolute;left: 180px;font-weight: bold;">STATS</div>
          </div>
        </button>
        <button *ngIf="enemyType" class="normal-button btn-desc"(click)="onClipClick('clipDe')"style="position: absolute;">
          <div class="image-container" style="position: relative; display: inline-block;">
            <img class="background-image" style="max-width: 250px; display: block;"[src]="this.imageUrls['BOTON_madera_8']"alt="start"/>
            <div class="overlay-text"style="position: absolute;left: 170px;font-weight: bold;font-size:13px">DESCRIPTION</div>
          </div>
        </button>
        <button *ngIf="enemyType" class="normal-button btn-battle"(click)="onClipClick('clipBa')"style="position: absolute;">
          <div class="image-container" style="position: relative; display: inline-block;">
            <img class="background-image" style="max-width: 250px; display: block;"[src]="this.imageUrls['BOTON_madera_8']"alt="start"/>
            <div class="overlay-text"style="position: absolute;left: 180px;font-weight: bold;">BATTLE</div>
          </div>

        </button>
      
        <!-- Imagen Principal -->
        
          <img *ngIf="enemyType == null" class="background-image-obj"  style="width: 500px; position: relative; z-index: 2;"[src]="this.imageUrls['MARCO']"alt="start"/>
          <div *ngIf="enemyType == null" class="overlay-text" style="position: absolute; width: 300px;font-weight: bold;z-index: 3;">Un gran bosque se extiende detrás de un lago y al fondo puede verse una montaña que rasca el cielo y reina sobre este frondoso paraje. Una forma de vida facóquera parece predominar en estas tierras, explora con cuidado.</div>
       

        <img class="background-image-obj"
             *ngIf="enemyType != null && clip == 'clipSta'"
             [src]="imageUrls['ADD']"
             alt="imageEnemy"
             style="width: 500px; position: relative; z-index: 2;" />
        
        <img class="background-image-obj"
             *ngIf="enemyType != null && clip == 'clipDe'"
             [src]="imageUrls['ADD']"
             alt="imageEnemy"
             style="width: 500px; position: relative; z-index: 2;" />

        <img class="background-image-obj"
             *ngIf="enemyType != null && clip == 'clipBa'"
             [src]="enemyStyles[enemyType].icon"
             alt="imageEnemy"
             style="width: 500px; position: relative; z-index: 2;" />
      </div>

<!-- BOTONERA -->
      <div class="botonera1" style="margin-top: 10px;">
        <button class="normal-button btn-startbattle" (click)="onStartBattleClick()"style="height: 80px"> 
          <div class="image-container">
            <img class="background-image" style="max-width: 250px;" [src]="this.imageUrls['BOTON_madera_8']" alt="start"/>
            <div class="overlay-text" >START BATTLE</div>
          </div>
        </button>
    </div>
    </div>



    <div *ngIf="mostrarBattleGif"
    style="margin-inline-start: 10px;height: fit-content;align-self: self-end;
           z-index: 1000; padding: 20px; border-radius: 8px; border: 3px solid #0000008c; background-color: #2e0b02;
           display: flex; align-items: center; flex-direction: column;">
 
      <div *ngIf="gifBattleUrl">
        <img [src]="gifBattleUrl" alt="battleGif" style="width: 200px;" />
      </div>
      <div style="padding: 5px; border-radius: 8px; border: 3px solid #0000008c; background-color: #2e0b02;">
        <img [src]="itemStyles[item1].icon" alt="reward1" style="width: 50px;background-color: #a17c7371; padding: 2%; border-radius: 8px;" />
        <img [src]="itemStyles[item2].icon" alt="reward2" style="width: 50px;background-color: #a17c7371; padding: 2px; border-radius: 8px;margin-inline: 20px;" />
        <img [src]="itemStyles[item3].icon" alt="reward3" style="width: 50px;background-color: #a17c7371; padding: 2px; border-radius: 8px;" />
      </div>
      <!-- BOTONERA -->
    <div class="botonera1" style="margin: 10px;height: 40px;">
      <button class="normal-button btn-startbattle"> 
        <div class="image-container">
          <img class="background-image" style="max-width: 90px;" [src]="this.imageUrls['BOTON_madera_8']" alt="start"/>
          <div class="overlay-text"style="font-size: 12px;" >LOG</div>
        </div>
      </button>
      <button class="normal-button btn-startbattle"(click)="exitBattleGif()"> 
        <div class="image-container">
          <img class="background-image" style="max-width: 90px;" [src]="this.imageUrls['BOTON_madera_8']" alt="start"/>
          <div class="overlay-text" style="font-size: 12px;">EXIT</div>
        </div>
      </button>
  </div>
 
    </div>

    <!-- Mapa con scroll -->
    <div class="right-columns" style="align-items: flex-end;">
      <div class="scroll-container">
        
          <img [src]="this.imageUrls['MAP1']" alt="imageMap" class="map-image"/>
          <button class="map-button" (click)="onEnemyClick(EnemyType.JABALI1)" style="top: 10%;">Lugar 1</button>
          <button class="map-button" (click)="onEnemyClick(EnemyType.JABALI2)" style="top: 40%;">Lugar 2</button>
          <button class="map-button" (click)="onEnemyClick(EnemyType.JABALI3)" style="top: 70%;">Lugar 3</button>
        
      </div>
    </div>
  </div>
</div>
  




  <!--ItemDetails-->
  <div *ngIf="state == 'itemDetails'"class="left-section" style="padding: 10px; gap:0px">
    <div *ngIf="mainClip == 'clipSto'"
    style="
      width: 127%;
      max-height: 626px;
      overflow-y: auto;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 10px;
      background-color: #966e64d2;
      border: 4px solid #5c3a1e;
      border-radius: 12px;
      box-shadow: inset 0 0 10px #3b1e0f;
      align-items: stretch;
    ">

 <div *ngFor="let item of items"
      style="
        position: relative;
        width: 110px;height: 110px;    
        aspect-ratio: 1;
        background-color: #f8d3bd;
        border: 3px solid #3b1e0f;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #00000066;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      "
      (click)="onItemClick(item)">

   <!-- Icono del ítem -->
   <img [src]="item.icon"
        [alt]="item.name"
        style="width: 60px; height: 60px; z-index: 1;" />

   <!-- Icono del grado -->
   <img [src]="gradeStyles[item.grade].icon"
        [alt]="item.grade"
        style="
         z-index: 9999;
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 5px;
          left: 5px;
          background-color: #e7a78a;
          border-radius: 50%;
          border: 2px solid #2e0b02;
        " />

   <!-- Cantidad -->
   <p style="
        position: absolute;
        top: 3px;
        right: 5px;
        background-color: #e7a78a;
        color: #2e0b02;
        font-weight: bold;
        border: 2px solid #2e0b02;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'MedievalSharp', serif;
      ">
     {{ item.amount }}
   </p>

 </div>

</div>


    
    <div class="right-section"
    style="
      width: 100%;
      height: 626px;
      gap: 0px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centra verticalmente */
      align-items: center;     /* Centra horizontalmente */
    ">
 
 <!-- Imagen del ítem -->
 <img *ngIf="item == null"[src]="imageUrls['GOLD']" alt="a" style="height: 50%; margin-bottom: 40px;" />
 <img *ngIf="item != null"[src]="item.icon" alt="a" style="height: 50%; margin-bottom: 40px;" />

 <!-- Barra de cantidad medieval -->
 <div *ngIf="item != null"style="position: relative; width: 60%; margin-bottom: 15px;">
   <!-- Marco de pergamino o madera -->
   <div style="
         position: absolute;
         top: -20px;
         left: 0;
         right: 0;
         text-align: center;
         font-family: 'MedievalSharp', serif;
         color: #3b1e0f;
         font-weight: bold;">
     Quantity: {{ selectedAmount }}
     Total: {{ selectedAmount*item.price }}
     <img [src]="imageUrls['GOLD']" class="hero-image-button" style="width: 30px; vertical-align: bottom; padding-bottom: 1px;"/>
   </div>

   <input type="range"
          min="1"
          [max]="item.amount"
          [(ngModel)]="selectedAmount"
          style="
            width: 100%;
            height: 10px;
            background: linear-gradient(to right, #a0522d, #8b4513);
            border: 2px solid #3b1e0f;
            border-radius: 8px;
            outline: none;
            accent-color: #5c3a1e;
            box-shadow: 0 0 5px #3b1e0f;
          " />
 </div>

 <!-- Botón de venta con fondo medieval -->
 <button *ngIf="item != null" class="normal-button" style="width: 200px; height: 80px;" (click)="onSellItemClick(item)">
   <div class="image-container" style="width: 200px;">
     <img class="background-image"
          [src]="this.imageUrls['BOTON_madera_8']"
          alt="start"
          style="width: 180px;" />
     <div class="overlay-text">SELL</div>
   </div>
 </button>
</div>
    
     
  </div>

















 <div>
  <!-- Sección derecha recursos -->
  <div class="right-section" style="margin: 0 auto 10px auto;width: 357px;background-color: #503028d2;">
    <div class="button-wrapper">
        <div class="button-content" style="width: fit-content;">
          <img [src]="imageUrls['GOLD']" class="hero-image-button" style="width: 30px; vertical-align: bottom; padding-bottom: 1px;"/>
          <label class="hero-label" style="background-color: #966e64; padding: 5px; margin-right: 10px;width: 64px; border-radius: 6px;">{{gold}}</label>
          <img [src]="imageUrls['ADD']" class="hero-image-button" style="width: 30px;"/>
          <label class="hero-label"style="background-color: #966e64; padding: 5px; margin-right: 10px;width: 64px;border-radius: 6px;">100000</label>
          <img [src]="imageUrls['ADD']" class="hero-image-button" style="width: 30px;"/>
          <label class="hero-label"style="background-color: #966e64; padding: 5px;width: 64px;border-radius: 6px;">1000</label>
       </div>
      </div>
  </div>
  <!-- Sección derecha heroes*ngIf="mainClip =='clipHo'"-->
  <div  class="right-section">
      <div *ngFor="let hero of heroes" class="button-wrapper">
        <button (click)="onHeroClick(hero)" class="hero-button" style=" box-shadow: 2px 2px 5px #00000066;">
          <div class="button-content">
            <img [src]="hero.icon" alt="{{ hero.name }}" class="hero-image-button" />
            <label class="hero-label">{{ hero.name }}</label>
          </div>
        </button>
      </div>
      <div class="button-wrapper">
      <button class="hero-button" (click)="onShopClick()"style="justify-content: center;border: 2px solid #5a3e2b;">
        <div class="button-content">
          <img [src]="imageUrls['ADD']" class="hero-image-button" />
        </div>
      </button>
      </div>
    </div>
<!-- Sección derecha items
    <div *ngIf="mainClip =='clipSto'" class="right-section" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
      <div *ngFor="let item of items" class="button-wrapper">
        <button  class="hero-button"style="width: 90px;">
          <div class="button-content"style="width: fit-content;">
            <img [src]="item.icon" alt="{{ item.name }}" class="hero-image-button" />
            <label class="hero-label">x {{ item.amount }}</label>
          </div>
        </button>
      </div>
    </div>-->
</div>

</div>
